@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes error-shake {
  0% { transform: translate(30px); }
  20% { transform: translate(-30px); }
  40% { transform: translate(15px); }
  60% { transform: translate(-15px); }
  80% { transform: translate(8px); }
  100% { transform: translate(0px); }
}

@-webkit-keyframes error-shake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}

@-moz-keyframes error-shake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}

@-o-keyframes error-shake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-transform: translate(0px); }
}

@keyframes graph-glow {
  0% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
  40% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  60% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  100% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
}

@-webkit-keyframes graph-glow {
  0% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
  40% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  60% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  100% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
}

@-moz-keyframes graph-glow {
  0% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
  40% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  60% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  100% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
}

@-o-keyframes graph-glow {
  0% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
  40% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  60% { box-shadow: 0 0 15px rgb(175, 42, 42); }
  100% { box-shadow: 0 0 -5px rgb(175, 42, 42); }
}

@keyframes color-change {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes color-change {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}