#graph-container {
  background-color: rgb(109, 107, 107);
  margin-bottom: 50px;
  height: 75vh;
  min-height: fit-content;
}

// GRAPH ELEMENTS

.line {
  stroke-width: .20%;
  fill: none;
}

.text {
  font-size: 15px;
}