#graph-container {
  background-color: lightgray;
  margin-bottom: 50px;
  height: 75vh;
  min-height: fit-content;
}

// GRAPH ELEMENTS

.line {
  stroke-width: .30%;
  fill: none;
}

.dot {
  stroke: yellow;
}