/*
// MIXINS && VARIABLES

@mixin basic-box-shadow($color) {
  box-shadow: 3px 3px 5px 5px $color, 1px 0px 1px $color;
}

$main-color: green;
$accent-color: darken($main-color, 10%);
$background-color: lighten($main-color, 40%);

// LAYOUT

body {
  background-color: $background-color;
  color: $main-color;
  height: 97vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// COMPONENTS
.card {
  background: white;
  height: 50vh;
  width: 50vw;
  border-radius: 15px;
  @include basic-box-shadow($accent-color);
}

// TYPOGRAPHY
h2 {
  font-size: 3rem;
}

*/

// WHOLE PAGE CONTENT DIV

.content {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  width: 100%;
  padding: 5vh;
  box-sizing: border-box;
}

// SITE HEADER

.site-header {
  align-self: center;
  font-size: 40px;
  color: white;
  margin-bottom: 35px;
}

// TOP ROW, BOTTOM ROW

.top-row, .bottom-row {
  display: flex;
  justify-content: space-between;
  height: 3vh;
  margin-bottom: 35px;
}

// LEFT TOP ROW

.left-top-row {
  display: flex;
  width: 33vw;
  justify-content: space-between;
}

// SEASON DROPDOWN

#season-dropdown {
  width: 15vw;
}

// STAT DROPDOWN

#stat-dropdown {
  width: 15vw;
}

// RIGHT TOP ROW

.right-top-row {
  display: flex;
  width: 5vw;
  min-width: fit-content;
}

// GLOSSARY BUTTON

.glossary-button {
  width: 100%;
}

// SEARCH PLAYERS INPUT & DROPDOWN

.search-players-input-container {
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin-right: 7vw;
  position: relative;
}

#search-players-input {
  min-height: 100%;
  box-sizing: border-box;
}

#player-dropdown {
  background-color: grey;
  animation-name: dropdown;
  animation-duration: 500ms;
}

#player-dropdown li {
  min-height: 3vh;
  padding: 2px 8px;
  border-bottom: 1px solid yellow;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

// PLAYER NAMES

.player-names-container {
  width: 65.5vw;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  padding: 0 1vw;
  box-sizing: border-box;
  height: 5vh;
  align-self: center;
}

// FOOTER

footer {
  display: flex;
  flex-direction: column;
  height: 4vh;
  background-color: indianred;
}