// WHOLE PAGE CONTENT
body {
  background-color: #1c1c1c;
  font-family: 'Signika', sans-serif;

  animation: fade-in 1500ms ease-in;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  width: 100%;
  padding: 5vh;
  box-sizing: border-box;
  min-width: fit-content;
}

// SITE HEADER

.site-header {
  align-self: center;
  font-size: 40px;
  color: white;
  margin-bottom: 35px;
}

// TOP ROW, BOTTOM ROW

.top-row, .bottom-row {
  display: flex;
  justify-content: space-between;
  height: 3vh;
  margin-bottom: 35px;
}

.top-row *, .bottom-row * {
  border-radius: 7px;
}

// LEFT TOP ROW

.left-top-row {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

// SEASON DROPDOWN, STAT DROPDOWN

#season-dropdown, #stat-dropdown {
  width: 45%;
  cursor: pointer;
  border: none;
  padding: 0px 7px;

  transition: all 300ms ease-in-out;
}

#season-dropdown:hover, #stat-dropdown:hover {
  transform: scale(1.05);
}

option {
  background-color: gray;
}

.not-selected-error {
  background-color: rgb(175, 42, 42);
  color: rgb(255, 225, 0);
}

.not-selected-error.animation {
  animation: error-shake 400ms linear;
  -moz-animation: error-shake 400ms linear;
  -o-animation: error-shake 400ms linear;
  -webkit-animation: error-shake 400ms linear;
}

// RIGHT TOP ROW

.right-top-row {
  display: flex;
  width: 5%;
  min-width: fit-content;
}

// GLOSSARY & INFORMATION BUTTON

.glossary-button, .information-button {
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 0px 7px;

  transition: all 300ms ease-in-out;
}

.glossary-button:hover, .information-button:hover {
  transform: scale(1.05);
}

.glossary-button {
  margin-left: 8%;
}

// SEARCH PLAYERS INPUT & DROPDOWN

.search-players-input-container {
  display: flex;
  flex-direction: column;
  width: 19.5%;
  margin-right: 7vw;
  position: relative;
  box-shadow: 0px 0px 4px white;
  height: 4vh;
  align-self: center;
}

#search-players-input {
  min-height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 12px;
  background-color: #1c1c1c;
  color: white;
}

#player-dropdown {
  background-color: lightgray;
  animation-name: fade-in;
  animation-duration: 500ms;
  z-index: 1;
  cursor: pointer;
}

#player-dropdown li {
  min-height: 4vh;
  padding: 2px 8px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

// PLAYER NAMES

.player-names-container {
  width: 75.5%;
  min-height: 5vh;
  max-height: fit-content;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 1vw;
  box-sizing: border-box;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0px 0px 4px white;

  @media only screen and (max-device-width: 500px)  { 
    font-size: 11px;
  }
}

.player-name-container {
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.player-name {
  margin-right: 0.4vw;
}

.remove-player-button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  color: rgb(245, 217, 10);
  font-size: 14px;

  @media only screen and (max-device-width: 500px)  { 
    font-size: 9px;
  }
}

.remove-player-button:hover {
  cursor: pointer;
  color: rgb(197, 176, 16);
}

// FOOTER

footer {
  display: flex;
  flex-direction: column;
  height: 4vh;
  background-color: indianred;
}