/* PLAYER DIDN'T PLAY IN SEASON MODAL CONTAINER */

.no-player-in-season {
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
}

/* PLAYER DIDN'T PLAY IN SEASON MODAL POPUP */

.no-player-in-season-popup {
  position: relative;
  top: 45%;
  margin: 0 auto;
  width: fit-content;
  background-color: rgb(175, 42, 42);
  height: 12%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 4px 8px -2px white;
  color: white;
}

/* PLAYER DIDN'T PLAY IN SEASON MODAL BUTTON */

.no-player-in-season-button {
  border: none;
  padding: 0;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  outline: none;
  color: rgb(55, 194, 209);
}

.no-player-in-season-button:hover {
  cursor: pointer;
  color: rgb(9, 149, 165);
}