/* MODAL CONTAINER */

.no-player-in-season, .duplicate-player, .glossary, .information {
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
}

.glossary, .information {
  display: none;
  justify-content: center;
  align-items: center;
}

/* MODAL POPUP */

.no-player-in-season-popup, .duplicate-player-popup, .glossary-popup, .information-popup {
  position: relative;
  top: 45%;
  margin: 0 auto;
  width: fit-content;
  background-color: rgb(175, 42, 42);
  height: 12%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 4px 8px -2px white;
  color: white;
}

.glossary-popup, .information-popup {
  height: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  top: 0%;
}

.information-popup {
  align-items: flex-start;
}

.glossary-popup h1, .information-popup h1 {
  margin-bottom: 2vh;
  font-size: 1.5em;
}

/* MODAL BUTTON */

.no-player-in-season-button, .duplicate-player-button, .glossary-button, .information-button {
  border: none;
  padding: 0;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  outline: none;
  color: rgb(55, 194, 209);
}

.no-player-in-season-button:hover, .duplicate-player-button:hover, .glossary-button:hover, .information-button:hover {
  cursor: pointer;
  color: rgb(9, 149, 165);
}

/* GLOSSARY LIST */

.glossary-list {
  font-size: 1.1em;

  @media (max-width: 500px)  { 
    font-size: 1em;
  }

  @media (max-height: 500px)  { 
    font-size: 0.8em;
  }
}

.glossary-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.abbr {
  margin-right: 4vw;
  color: yellow;
}

.full {
  color: greenyellow;
}

/* INFORMATION DETAILS */

