/* MODAL CONTAINER */

.no-player-in-season, .duplicate-player, .glossary, .information {
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto !important;
  font-family: 'Signika', sans-serif;
}

.glossary, .information {
  display: none;
  justify-content: center;
  align-items: center;
}

/* MODAL POPUP */

.no-player-in-season-popup, .duplicate-player-popup, .glossary-popup, .information-popup {
  position: relative;
  top: 45%;
  margin: 0 auto;
  width: fit-content;
  background: transparent linear-gradient(rgb(179, 169, 34), rgb(110, 105, 23) 30%,rgb(73, 70, 15) 85%);
  height: 12%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 4px 8px -2px white;
  color: white;
}

.no-player-in-season-popup, .duplicate-player-popup {
  background: rgb(175, 42, 42);
}

.glossary-popup, .information-popup {
  height: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  top: 0%;

  font-size: 1.1em;

  @media (max-width: 500px)  { 
    font-size: 1em;
  }

  @media (max-height: 500px)  { 
    font-size: 0.8em;
  }
}

.information-popup {
  /* align-items: flex-start; */
  justify-content: flex-start;
  max-height: 60%;
  width: 40%;
  overflow: hidden;
  min-height: fit-content;

  @media (max-width: 500px)  { 
    width: 60%;
  }
}

.inner-information-popup {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.inner-information-popup::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

.inner-information-popup::-webkit-scrollbar-thumb {
  background-color: #7a0025;
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

.glossary-popup h1, .information-popup h1 {
  font-size: 1.5em;
}

.glossary-popup h1 {
  margin-bottom: 2vh;
}

/* MODAL BUTTON */

.no-player-in-season-button, .duplicate-player-button, .glossary-button, .information-button {
  border: none;
  padding: 0;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  outline: none;
  color: rgb(55, 194, 209);
}

.no-player-in-season-button:hover, .duplicate-player-button:hover, .glossary-button:hover, .information-button:hover {
  cursor: pointer;
  color: rgb(9, 149, 165);
}

/* GLOSSARY LIST */

.glossary-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.abbr {
  margin-right: 4vw;
  color: yellow;
}

.full {
  color: black;
}

/* INFORMATION DETAILS */

.information-popup h1 {
  align-self: center;
}

.information-popup h2 {
  font-size: 1.1em;
  color: black;
  text-shadow: 1px 1px 3px yellow;
}

.information-popup .h2-container {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.4vh;
}

.information-popup .h2-container::after {
  content: '';
  display: inline-block;
  margin: 0.4em 0;
  width: 140%;
  border: 1px groove lightgreen;
}

.about {
  list-style: none;
}

.steps-list {
  list-style-position: inside;
}

.steps-list.one {
  list-style-type: decimal;
}

.steps-list.two {
  list-style-type: lower-alpha;
}

.steps-list li {
  margin-bottom: 0.5vh;
}

.steps-list.two i {
  color: #f5d90a;
}